html {
  font-family: Quicksand, sans-serif;
  background-color: #fbdde0;
}

.logo-text {
  color: #000;
}

.logo-center {
  text-align: center;
}

.nav a {
  color: #000;
  text-decoration: none;
}

.nav a:hover {
  color: #fff;
  background-color: #000;
}

.nav {
  text-align: center;
}

h2 {
  color: #000;
}

.btn {
  border-color: #15b3a6;
  background-color: #15b3a6;
  color: #fff;
}

.banner-text {
  color: #fff;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  background-color: #fff;
}

.footer {
  background-color: white;
  color: black;
}
