@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {

font-family: 'Quicksand', sans-serif;
}

.logo-text {
  font-size: 30px;
  color: #F06F64;
}

.logo-center {
  text-align: center;
}

.nav a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  background-color: #F06F64;
  border-radius: 5px;
}

.nav a:hover {
  color: #fff;
  background-color: #000;
}

.nav {
  text-align: center;
}

h2 {
  color: #fff;
}

.btn {
  border-color: #F06F64;
  background-color: #F06F64;
  color: #fff;
}

.banner-text {
  color: #fff;
}

.banner-textoh {
  color: #000;
  text-align:left;
  font-size: 25px;
}

.banner-textohh {
  color: #000;
  font-size: 25px;
  text-align: left;
}
